﻿@model IEnumerable<Movie.Web.MediaServiceReference.Cast>
<html>
<head>    
    <link href="~/Content/Title.css" rel="stylesheet" />
    <title>Title | Cast </title>
</head>
<body>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
    <h2>Cast Details for the @ViewBag.TitleName </h2>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
            </tr>
        }

    </table>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>