﻿@model IEnumerable<Movie.Web.MediaServiceReference.Media>
    
<html>
<head>
    <title>Title | Search </title>
    <link href="~/Content/Title.css" rel="stylesheet" />
</head>

<body>
    <div>
        @using (Html.BeginForm("Index", "Titles"))
        {
            <input type="text" id="TitleSearch" name="TitleSearch" value="" placeholder="Search for Movie,Serial and etc,.">
            <input id="Search" type="submit" value="Search" />
        }
    </div>
    <div>
        <table>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TitleName)
                </th>
                <th>
                    @Html.DisplayName("Details")
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TitleName)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.TitleId })
                    </td>
                </tr>
            }

        </table>

    </div>


</body>
</html>